// Import Bootstrap variables (optional, if you are using Bootstrap)
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// Custom styles
$orange: #fd7e14;
$orange-100: #ffe5d1;
$orange-200: #ffc9a6;
$orange-300: #ffae7c;
$orange-400: #ff9351;
$orange-500: #fd7e14;
$orange-600: #e26f10;
$orange-700: #c7600d;
$orange-800: #ab5109;
$orange-900: #904106;

h1 {
    color: $orange;
}

h2 {
    color: $orange-500;
}

p {
    background-color: $orange-100;
}
