body {
  font-family: Arial, sans-serif;
  background-image: url("../images/menu_bkgrnd.jpg");
}

header {
  background-color: rgba(243, 65, 16, 0.4);
  padding: 10px 0;
  color: rgb(9, 9, 9);
}

button:hover {
  background-color: #a03f34;
}

header img {
  margin-left: 30px;
  width: 100px;
  height: 100px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: yellow;
}

.foodh {
  text-align: center;
  color:#fff;
  font-family: 'Playfair Display', serif;
  background-color: rgba(0, 0, 0, 0.3);
}

main{
  margin: 20px;
}

.contact{
  text-align: center;
  color:#fff;
  font-family: 'Playfair Display', serif;
  background-color: rgba(0, 0, 0, 0.3);
}